<html>

<head>
  <title>Vue.js Pet Depot</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuejs-paginate@2.1.0"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
</head>
<body>
 <div id="app">
  <div class="container">
    <div style="margin-top: 50;">
      <form>
        <div class="form-group">
          <label for="inputUrl">Длинный URL:</label>
          <input type="text" class="form-control" id="inputUrl" placeholder="Введите ваш длинный URL">
        </div>
        <label for="shortUrl">Короткий URL:</label>
        <div class="form-group row">
            <label for="shortUrl" class="col-sm-2 col-form-label">http://domen/</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="shortUrl" placeholder="Короткий URL">
            </div>        
        </div>
      </form>
    </div>
    <div style="margin-top: 50;">
      <hr>
      <label>Ваши URL-ы:</label>
      <div class="list-group">
        <a v-for="url in urls" :href="url.short_url" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ url.short_url }}</h5>
            <small>3 days ago</small>
          </div>
          <small>{{ url.url }}</small>
        </a>
      </div>
      <nav aria-label="Page navigation example" style="margin-top: 10;">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" @click="prevPage()" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li v-for="p in this.paginatedData">{{p.first}}</li>

          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" @click="nextPage()" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

<script type="text/javascript">

  var APP_LOG_LIFECYCLE_EVENTS = false;
  var webstore = new Vue({
    el: '#app',
    data: {
      pageNumber: 0,
      methods:{
        nextPage(){
            this.pageNumber++;
        },
        prevPage(){
            this.pageNumber--;
        }
      },
      computed: {
        pageCount(){
            let l = this.listData.length,
            s = this.size;
            return Math.ceil(l/s);
        },
        paginatedData(){
            const start = this.pageNumber * this.size,
            end = start + this.size;
            return this.urls.slice(start, end);
        },
        size(){
            return this.urls.length();
        },
      },

      urls: [
        {
          "url": "https://www.django-rest-framework.org/tutorial/2-requests-and-responses/#status-codes",
          "short_url": "http://0.0.0.0:8000/1gzRMI"
        },
        {
          "url": "https://stackoverrun.com/ru/q/8064923",
          "short_url": "http://0.0.0.0:8000/FzjFxI"
        },
        {
          "url": "https://app.slack.com/client/T02HV422M/C02HV4235/thread/C02HV4235-1580982888.142900",
          "short_url": "http://0.0.0.0:8000/QW-HOI"
        },
        {
          "url": "https://app.slack.com/client/T02HV422M/C02HV4235/thread/C02HV4235-1580982888.142900",
          "short_url": "http://0.0.0.0:8000/QW-HOI"
        },
        
      ],
    },
});

</script>
</body>

</html>